/* START: Variables */
/* END: Variables */
/* START: Mixins */
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.pattern-1 {
  background: url('../img/whitey.png') repeat;
}
.pattern-2 {
  background: url('../img/grey_wash_wall.png') repeat;
}
.pattern-3 {
  background: url('../img/gplaypattern.png') repeat;
}
.big-button {
  display: inline-block;
  width: 17rem;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem 0;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-align: center;
}
/* END: Mixins */
/* START: General */
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
/* END: General */
/* START: Typography */
h1 {
  color: white;
  font-family: 'Poiret One', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}
h5 {
  color: white;
  font-family: 'Coda', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
p {
  font-family: "Roboto Slab", serif;
  font-size: 1.32rem;
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
a {
  color: crimson;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  text-decoration: none;
}
a.tooltips {
  border-bottom: 1px dashed #2C2C2C;
}
/* END: Typography */
/* START: Header */
header {
  width: 100vw;
  height: 100vh;
}
header #bg-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
header #bg-video > video {
  width: 100vw;
  height: auto;
}
@media (max-width: 1315px) {
  header #bg-video > video {
    width: auto;
    height: 100vh;
  }
}
header .intro-box {
  position: relative;
  bottom: 60%;
}
header .intro-box .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .intro-box hr {
  width: 55px;
  border: solid white;
  border-width: 1px 0 1px;
}
header nav {
  position: relative;
  bottom: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/* END: Header */
/* START: About Me */
#about-me {
  background: url('../img/whitey.png') repeat;
  box-shadow: inset 0 21px 50px -19px rgba(0, 0, 0, 0.55);
}
/* END: About Me */
/* START: Portfolio */
#portfolio {
  background: url('../img/grey_wash_wall.png') repeat;
  min-height: 19rem;
  color: whitesmoke;
  box-shadow: inset 0 0 60px 0 rgba(0, 0, 0, 0.55);
}
#portfolio a,
#portfolio p {
  color: inherit;
}
/* END: Portfolio */
/* START: Contact */
#contact {
  background: url('../img/whitey.png') repeat;
  box-shadow: inset 0 -21px 50px -19px rgba(0, 0, 0, 0.55);
}
#contact p {
  margin-bottom: 4rem;
}
#contact form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #2C2C2C;
  font-family: 'Roboto Slab', sans-serif;
}
#contact form > div:nth-child(1) {
  flex-basis: 32%;
  margin-right: 3%;
}
#contact form > div:nth-child(2) {
  flex-basis: 65%;
}
#contact form > div:nth-child(3) {
  flex-basis: 100%;
  margin-top: 1rem;
}
#contact form > div:last-child {
  flex-basis: 100%;
  margin-top: 1rem;
}
#contact form input[type="text"],
#contact form input[type="email"],
#contact form textarea {
  width: 100%;
  padding: .4rem;
}
#contact form label {
  display: block;
  margin-bottom: .25rem;
}
#contact form textarea {
  height: 50vh;
}
#contact .alert-box {
  display: block;
  position: relative;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  background-color: steelblue;
  padding: .75rem 1.5rem;
  transition: opacity 300ms ease-out;
  text-align: center;
}
#contact .b-blur-shadow:focus {
  box-shadow: 0 0 200px -50px steelblue;
  background-color: white;
  transition: all 0.3s ease 0s;
}
#contact .big-button__blue {
  display: inline-block;
  width: 17rem;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem 0;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-align: center;
  background-color: steelblue;
}
/* END: Contact */
