<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="Jakob Löhnertz, 21 Jahre: Student & Entwickler">
    <meta name="author" content="Jakob Löhnertz">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Jakob Löhnertz</title>
</head>
<body>
    <% include ./_partial/header.ejs %>
</body>
</html>