<section id="about-me">
    <div class="wrapper">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ex illo maxime odio odit officiis quaerat sint voluptatum. Cum cupiditate ducimus earum eum hic nisi odio porro quam similique veritatis!
        </p>
    </div>
</section>