<section id="contact">
    <div class="wrapper">
        <div id="profiles-container">
            <a href="https://github.com/loehnertz" target="_blank">
                <i class="fab fa-github-square"></i>
                <span>GitHub</span>
            </a>
            <a href="https://www.linkedin.com/in/jakob-l%C3%B6hnertz-0552a6129/" target="_blank">
                <i class="fab fa-linkedin"></i>
                <span>LinkedIn</span>
            </a>
            <a href="https://www.xing.com/profile/Jakob_Loehnertz/" target="_blank">
                <i class="fab fa-xing-square"></i>
                <span>XING</span>
            </a>
            <a href="https://medium.com/@loehnertz" target="_blank">
                <i class="fab fa-medium"></i>
                <span>Medium</span>
            </a>
            <a href="https://www.reddit.com/user/loehnertz" target="_blank">
                <i class="fab fa-reddit-square"></i>
                <span>Reddit</span>
            </a>
        </div>
        <form name="contact" netlify netlify-honeypot="stroopwafel">
            <div>
                <label for="name">Your name</label>
                <input class="b-blur-shadow" id="name" name="name" type="text" placeholder="">
            </div>
            <div>
                <label for="email">Your e-mail address</label>
                <input class="b-blur-shadow" id="email" name="email" type="text" placeholder="">
            </div>
            <div>
                <label for="message">Your message</label>
                <textarea class="b-blur-shadow" id="nachricht" name="message" placeholder=""></textarea>
            </div>
            <div>
                <div class="alert-box">
                    The marked fields are mandatory!
                </div>
                <input type="text" name="stroopwafel" style="display:none">
                <input class="big-button__blue" id="submit" name="submit" type="submit" value="Submit" disabled="true">
            </div>
        </form>
    </div>
</section>
