<section id="contact">
    <div class="wrapper">
        <div>
            <p>
                Sollten Sie eine neue Webseite benötigen oder auch Veränderungswünsche für eine bestehende Webseite haben, verwenden Sie gerne das untenstehende Formular um mit mir in Kontakt zu treten.
            </p>
        </div>
        <form action="" method="POST">
            <div>
                <label for="name">Ihr Name</label>
                <input class="b-blur-shadow" id="name" name="name" type="text" placeholder="">
            </div>
            <div>
                <label for="email">Ihre E-Mail Adresse</label>
                <input class="b-blur-shadow" id="email" name="email" type="text" placeholder="">
            </div>
            <div>
                <label for="message">Ihre Nachricht</label>
                <textarea class="b-blur-shadow" id="nachricht" name="message" placeholder=""></textarea>
            </div>
            <div>
                <div class="alert-box">
                    Die markierten Felder müssen ausgefüllt werden!
                </div>
                <input type="text" name="_gotcha" style="display:none">
                <input type="hidden" name="_subject" value="Kontaktformular">
                <input type="hidden" name="_next" value="//www.jakob.codes/">
                <input class="big-button__blue" id="submit" name="submit" type="submit" value="Absenden" disabled="true">
            </div>
        </form>
    </div>
</section>