<header>
    <div id="bg-video">
        <video autoplay loop>
            <source src="https://www.jakob.codes/assets/vid/hintergrund-h264.mp4" type="video/mp4">
            <source src="https://www.jakob.codes/assets/vid/hintergrund-webm.webm" type="video/webm">
            <source src="https://www.jakob.codes/assets/vid/hintergrund-ogg.ogv" type="video/ogg">
        </video>
    </div>
    <div class="intro-box">
        <div class="title">
            <hr>
            <h1>
                Jakob Löhnertz
            </h1>
            <hr>
        </div>
    </div>
    <nav class="wrapper">
        <div>
            <a href="#ueber-mich"><h5 class="select-lebenslauf">Über mich</h5></a>
        </div>
        <div>
            <a href="#portfolio"><h5 class="select-portfolio">Portfolio</h5></a>
        </div>
        <div>
            <a href="#kontakt"><h5 class="select-kontakt">Kontakt</h5></a>
        </div>
    </nav>
</header>