<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="description" content="Jakob Löhnertz, 21 Jahre: Student & Entwickler">
<meta name="author" content="Jakob Löhnertz">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>Jakob Löhnertz</title>
<%- favicon_tag('img/favicon.png') %>
<%- css(['css/normalize', 'css/styles']) %>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Coda|Poiret+One' rel='stylesheet' type='text/css'>