<section id="portfolio">
    <div class="wrapper">
        <div id="slider">
            <div>
                <a target="_blank" href=""><img alt="Webseite" src="http://placehold.it/1280x720"></a>
                <a target="_blank" href="">Link</a>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dicta dignissimos dolore dolorem eligendi esse eveniet facilis impedit laudantium, natus possimus sequi similique, sit totam voluptatem voluptatibus. Neque, veritatis.</p>
            </div>
            <div>
                <a target="_blank" href=""><img alt="Webseite" src="http://placehold.it/1280x720"></a>
                <a target="_blank" href="">Link</a>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dicta dignissimos dolore dolorem eligendi esse eveniet facilis impedit laudantium, natus possimus sequi similique, sit totam voluptatem voluptatibus. Neque, veritatis.</p>
            </div>
            <div>
                <a target="_blank" href=""><img alt="Webseite" src="http://placehold.it/1280x720"></a>
                <a target="_blank" href="">Link</a>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dicta dignissimos dolore dolorem eligendi esse eveniet facilis impedit laudantium, natus possimus sequi similique, sit totam voluptatem voluptatibus. Neque, veritatis.</p>
            </div>
        </div>
    </div>
</section>